<%= form_with model: post, url: url do |f| %>
  <table>
    <tbody>
      <tr>
        <th>タイトル</th>
        <td>
          <%= f.text_field :title %>
        </td>
      </tr>
      <tr>
        <th>カテゴリー</th>
        <td>
          <%= f.collection_select :category_id, Category.all, :id, :name, {include_blank: "--選択してください"} %>
        </td>
      <tr>
        <th>難易度</th>
        <td>
          <%= f.select :level, Post.levels_i18n.invert %>
        </td>
      </tr>
      <tr>
        <th>公開ステータス</th>
        <td>
          <%= f.select :status, Post.statuses_i18n.invert %>
        </td>
      </tr>
      <tr>
        <th>本文</th>
        <td>
          <%= f.text_area :body, size: "100x10" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.submit submit %>
        </td>
      </tr>
    </tbody>
  </table>
  <% end %>