<div class="container">
  <h1>マニュアル一覧</h1>
  <div class='row'>
    <div class="col my-5">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>タイトル</th>
              <th>カテゴリー</th>
              <th>レベル</th>
              <th>リリース状況</th>
              <th>詳細</th>
              <th>編集</th>
            </tr>
          </thead>
          <% @posts.each do |post| %>
          <tbody>
            <tr>
              <td><%= post.title %></td>
              <td><%= post.category.name %></td>
              <td><%= post.level_i18n %></td>
              <td><%= post.status_i18n %></td>
              <th><%= link_to "詳細",admin_post_path(post) %></th>
              <th><%= link_to "編集",edit_admin_post_path(post) %></th>
            </tr>
          </tbody>
          <% end %>
        </table>
    </div>
  </div>
</div>