<h1>マニュアル一覧</h1>
<% @posts.each do |post| %>
  <table>
    <tbody>
      <tr>
        <th>タイトル</th>
        <td><%= post.title %></td>
      </tr>
      <tr>
        <th>カテゴリー：</th>
        <td><%= post.category.name %></td>
      </tr>
      <tr>
        <th>レベル：</th>
        <td><%= post.level_i18n %></td>
      </tr>
      <tr>
        <th>リリース状況：</th>
        <td><%= post.status_i18n %></td>
      </tr>
      <tr>
        <th><%= link_to "編集",edit_admin_post_path(post) %></th>
        <th><%= link_to "詳細",admin_post_path(post) %></th>
      </tr>
    </tbody>
  </table>
<% end %>